@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

:root {
  --color-black: #000;
  --color-white: #fff;
  --color-gray-blue: #3a445d;
  --color-gray-brown: #5e5768;
  --color-gray-middle: #928779;
  --color-gray-green: #d4d2a5;
  --font-Montserrat: 'Montserrat', sans-serif;
  --font-TitanOne:  'Titan One', cursive;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--color-gray-middle);
  font-family: var(--font-Montserrat);
}

/** @header */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  padding: 20px;
  border-bottom: 2px var(--color-black) solid;
  border-radius: 60px;
}

header .logo {
width: 100px;
height: 100px;
}

header h1 {
  color: var(--color-gray-brown);
}

/** @tabela */

.tabela, .botao {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  font-size: 20px;
}

.botao {
  width: auto;
  min-height: 130px;
}

.botao .botao-acao {
  margin: 1rem 0;
  font-size: 1.5em;
  font-family: var(--font-Montserrat);
  position: relative;
  color: var(--color-gray-brown);
  padding: 20px 10px;
  background-color: var(--color-gray-green);
  border: 2px solid var(--color-black);
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  transition: all 0.1s;
}

.botao .botao-acao:active {
  font-size: 1.3em;
  opacity: 0.7;
}

.tabela .jogo {
  max-width: 90%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.tabela .jogo .linha {
  display: flex;
  flex-direction: row;
}

.tabela .jogo .square {
  width: 130px;
  height: 130px;
  display: flex;
  color: var(--color-white);
  background-color: var(--color-gray-brown);
  border: var(--color-gray-green) 3px solid;
  justify-content: center;
  align-items: center;
  font-family: var(--font-TitanOne);
  font-size: 80px;
  cursor: pointer;
}

.tabela .jogo .square:hover {
  background-color: var(--color-gray-blue);
}

.tabela .descricao {
  color: var(--color-gray-brown);
}

/** @mode */

#mode {
  user-select: none;
  cursor: pointer;
  position: absolute;
  top: 120px;
  left: 30px;
  padding: 0 3px;
  border: 2px solid var(--color-black);
  border-radius: 99999999px;
  background-color: var(--color-white);
  text-align: center;
  font-size: 30px;
}

/** @responsivo */

@media screen and (max-width: 450px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  header h1 {
    margin: 5px 0;
  }

  .tabela {
    font-size: 14px;
  }

  .tabela .jogo {
    max-width: 100%;
  }

  .tabela .jogo .square {
    width: 120px;
    height: 120px;
  }

  #mode {
    top: 170px;
  }
}

@media screen and (max-width: 420px) {
  .tabela .jogo .square {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 400px) {
  .botao .botao-acao {
    font-size: 20px;
  }

  .tabela .jogo .square {
    width: 70px;
    height: 70px;
  }

  #mode {
    top: 520px;
  }
}

@media screen and (max-width: 230px) {
  #mode {
    top: 570px;
  }
}
